.main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
    flex-wrap: wrap;
    height: calc(100vh - 64px);
    background-color: floralwhite;
}


.greeting {
    width: 320px;
    background-color: darkolivegreen;
}


.photo {
    width: 300px;
    height: 500px;
    background-color: grey;
}

@media screen and (max-width: 1000px) {
    .main {
        height: auto;
        flex-direction: column;
        padding: 32px;
        gap: 32px;

    }
}